<div class="text-center">

<h1 class="p-3">Coursework Tracker</h1>

<p><a href="/auth/login" class="btn btn-primary">Login</a></p>
<p><a href="/auth/register" class="btn btn-secondary">Register</a></p>

</div>
