<div class="text-center">

<h1 class="p-3"><b>Coursework Tracker</b></h1>

<br>

<h3>Hello user!</h3>

<br>
<br>

<p>Welcome to Coursework Tracker. If you already have an account, please login.</p>

<br>

<p><a href="/auth/login" class="btn btn-primary">Login</a></p>

<br>
<br>

<p>If you do not already have an account with us, then please regiser.</p>

<br>

<p><a href="/auth/register" class="btn btn-secondary">Register</a></p>

</div>
