<h2><b>Login</b></h2>

{{> messages }}

<form action="/auth/login" method="POST">

  <div class="form-group">

    <br>

    <br>

    <label for="username"><b>Username:</b></label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Username..." maxlength = "25" required>

  </div>

  <br>

  <div class="form-group">
    <label for="password"><b>Password:</b></label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password..." maxlength = "20" required>
  </div>

  <br>

  <button class="btn btn-primary"><b>Login</b></button>

  <br>

</form>

<br>

<br>

<p><b>Not an Existing User? - <a href="/auth/register">Register</a></b></p>
